<div class="header">
  <h3 class="logo">MapLight</h3>
</div>
<div class="cont-flex">
  <!--Container de la pagina-->
  <div class="aux1">
    <p class="text-blue-700 mr-3">Enter Code</p>
    <p class="text-gray-600 mr-3">Returning User?</p>
  </div>
  <div class="aux2">
    <div class="petition_list">
      <h1 class="items-start">Sing A Petition</h1>
      <div class="button_cont">
        <button mat-stroked-button color="primary">All Types</button>
        <button mat-stroked-button>Some</button>
        <button mat-stroked-button>Candidate</button>
      </div>
      <div class="petition_cont">
        <app-petition-card></app-petition-card>
        <app-petition-card></app-petition-card>
      </div>
    </div>
  </div>
</div>
