.cont {
    height: auto;
    width: 100%;
    @apply bg-gray-50;
    align-content: center;
  }
  
  form {
    @apply bg-gray-100 p-5 w-1/3 m-2 border-2 rounded-md border-gray-300;
    margin: auto;
  }
  
  label {
    @apply  uppercase text-black block;
    font-size: xx-small;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-stretch: expanded;
    font-weight: bold;
  }
  
  input {
    @apply h-8 border-2 border-gray-500 rounded-md max-w-full block;
  }
  
  .info {
    @apply bg-gray-300 p-5 w-1/3;
    align-items: center;
  }

  .pgroup{
      @apply m-2 border-2 p-1 rounded-md border-gray-400
  }

  span{
      @apply lowercase
  }
  