<div class="cont">
  <form>
    <label for="text">text</label> {{text}}<br />
    <input type="text" name="text" [(ngModel)]="text" /><br />
    <hr />
    <label for="checkbox">checkbox</label><br />
    <input type="checkbox" name="text" /><br />
    <hr />
    <label for="color">color</label><br />
    <input type="color" name="text" /><br />
    <hr />
    <label for="date">date</label><br />
    <input type="date" name="text" /><br />
    <hr />
    <label for="datetime">datetime</label><br />
    <input type="datetime" name="text" /><br />
    <hr />
    <label for="email">email</label><br />
    <input type="email" name="text" /><br />
    <hr />
    <label for="file">file</label><br />
    <input type="file" name="text" /><br />
    <hr />
    <label for="image">image</label><br />
    <input type="image" name="text" /><br />
    <hr />
    <label for="month">month</label><br />
    <input type="month" name="text" /><br />
    <hr />
    <label for="number">number</label><br />
    <input type="number" name="text" /><br />
    <hr />
    <label for="password">password</label><br />
    <input type="password" name="text" /><br />
    <hr />
    <label for="time">time</label><br />
    <input type="time" name="text" /><br />
    <hr />
    <label for="week">week</label><br />
    <input type="week" name="text" /><br />
    <hr />
    <label for="search">search</label><br />
    <input type="search" name="text" /><br />
    <hr />
    <button
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
    >
      Button
    </button>
  </form>
</div>
